@import "brand.less";

body{
  font-family: @font-main;
  background-color: @white;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
}

header {
  background-color: @navy;
  img {
    margin: 0 15px;
  }
}